!= partial("_common")
  :markdown
    # Outline

    The winners system is a WordPress plugin. It is in the *od-winners* folder under wp-content/plugins. The most recent files as of 6.8.14 are in the [repo](https://bitbucket.org/rftb/videographer-amcp) (It's a big one)

    ## User Flow
    The user flow is simple.

    Winners Page ---> Gold (Search) ||or|| Platinum (Browse)

    ## Winners Pages

    ### Gold
    Here the user is shown a map with a pin for each city that has a winner. Under that is a search bar. The user can enter a query and the matching winners show up without reloading the page.

    ### Platinum
    This is the same as gold except that the full list is populated without entering a search term.

    ### List Contents (Gold & Platinum)
    - Logo
    - Company Name
    - Entry Title
    - Client
    - City
    - State
